*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul,
li,
span {
  margin: 0;
  padding: 0;
}

html {
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(45, 42, 58);
}

h1 {
  color: #444;
  margin-top: 2rem;
  margin-bottom: 2rem;
  font-size: 2.4rem;
  line-height: 1.15;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
}

h2 {
  font-size: 1.6rem;
  color: #b15bd6;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  background-color: #eee;
  margin: 0 auto;
  padding: 1rem 2rem 2rem 2rem;
  border-radius: 3px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.5);
  max-width: 60rem;
  font-size: 20px;
}

.form-wrapper,
.inputs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 1rem;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: 2rem;
}

.input {
  width: 100%;
  padding: 0.8rem;
  font-size: 1.6rem;
  outline: none;
  border-radius: 2px;
  border: 2px solid #888;
}

label {
  color: #333;
}

.btn {
  font-size: 1.4rem;
  color: #fff;
  padding: 1em 3em;
  margin-top: 2rem;
  border: none;
  border-radius: 3px;
  background-color: #933bad;
  transition: all 0.3s;
}

.btn:hover {
  background-color: #6c2d80;
}

.display {
  display: none;
  flex-direction: column-reverse;
  justify-content: space-around;
  align-items: center;
  /* gap: 3rem; */
  width: 100%;
  text-align: center;
  background-color: #fff;
  border: 2px solid #888;
  border-radius: 3px;
  padding: 2.4rem 3rem;
  margin-top: 1.4rem;
}

.display_monthly,
.display_weekly {
  padding-top: 3rem;
}

.display_annual,
.display_monthly {
  border-bottom: 1px solid #ccc;
  padding-bottom: 3rem;
}

.display_container p {
  font-size: 1.2rem;
  margin-top: 2rem;
  color: #444;
}

span {
  font-size: 2.4rem;
  font-weight: bolder;
  color: #444;
}

#error {
  padding-top: 1rem;
  display: none;
  color: red;
  font-size: 1.4rem;
  text-align: center;
}

@media screen and (min-width: 540px) {
  html {
    font-size: 10px;
  }

  h1 {
    font-size: 3rem;
    margin-top: 1rem;
  }

  h2 {
    margin-bottom: -0.7rem;
  }

  .wrapper {
    min-height: 10vh;
    margin-top: 5rem;
    padding: 4rem 3rem 3rem 3rem;
    font-size: 16px;
  }

  .btn {
    font-size: 16px;
  }

  .form,
  .display {
    flex-direction: row;
  }

  .display_annual,
  .display_monthly {
    border-bottom: none;
    padding-bottom: 0;
  }

  .display_monthly,
  .display_weekly {
    padding-top: 0rem;
  }

  span {
    font-size: 2.6rem;
  }
}
